<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	{{!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> --}}
	<title>Murray's Burger Joint</title>

	<script src="/assets/js/burgerjoint.js"></script>
	<link href='/assets/CSS/style.css' rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Concert+One&family=Ultra&display=swap" rel="stylesheet">


</head>

<body>
	<div class='container'>
		{{{ body }}}
	</div>


	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>