<div class='headers'>
    <h1 class='display-4'>Welcome to Murray's Burger Joint</h1>


</div>
{{>burgers}}


<div id='burgerForm'>
    <h3>Add a new Hamburger to the Menu!</h3>
    <hr>
    <div id='makeBurger'>
        <form action="/" method="POST">
            <textarea id='newBurger' type="text" name="newBurger"></textarea>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>